#map {
    height: 100vh;
    width: 100vw;
}

body {
    margin: 0;
    padding: 0;
}

.route-selector {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1000;
    background: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

select {
    padding: 5px;
    font-size: 18px;
}

.fetch-time {
    text-align: center;
    font-size: 16px;
    margin-top: 5px;
}

.leaflet-control-zoom a {
  -webkit-user-select: none;  /* For Chrome/Safari */
  -moz-user-select: none;     /* For Firefox */
  -ms-user-select: none;      /* For IE/Edge */
  user-select: none;          /* Standard syntax */
}